<mat-card class="footer">
    <mat-card class="footer-txt">
        <a routerLink="/imprint"><span>Impressum  </span></a>-
        <a href="/data-protection"><span>Legal Notice</span></a>
    </mat-card>

    <mat-card class="footer-img">
        <a target="_blank" href="https://www.linkedin.com/in/masihullah-massudi"><img src="assets/img/LinkedIn 1.png" alt=""></a>
        <a target="_blank" href="https://github.com/Masihdev"><img src="assets/img/github-fill.png" alt=""></a>
        <a target="_blank" href="https://www.xing.com/profile/Masihullah_Massudi/cv"><img src="assets/img/xing-fill.png" alt=""></a>
    </mat-card>
</mat-card>

<!-- <app-impressum></app-impressum> -->