$primary: #Fa2759;
$secondary: #2Dfcd8;
$grey: #1A1A1A;
$black: #000000;
.about-me {
    background-color: $grey;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    padding: 20px 150px;
}

.top {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $grey;
    box-shadow: none;
    border-bottom: 3px solid $secondary;
    border-radius: 0;
    h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        line-height: 40px;
    }
}

.img {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-image: url("../../assets/img/photos/masih_img_b (compressed).jpg");
    background-position: top center;
    background-size: cover;
    background-color: $grey;
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $grey;
    color: white;
    box-shadow: none;
}

.bottom {
    padding-top: 30px !important;
    padding: 0;
    display: flex;
    box-shadow: none;
    width: 100%;
    background-color: $grey;
    border-radius: 0;
}

.journey {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grey;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.journey-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
    }
}

.journey-text {
    text-align: center;
    box-shadow: none;
    color: white;
    background-color: $grey;
}

// responsive view
@media (max-width: 1150px) {
    .about-me {
        padding: 30px 50px;
    }
    .top {
        padding: 0;
        img {
            width: 250px;
            height: 250px;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

@media (max-width: 1000px) {
    .journey-img {
        width: 40px;
        height: 40px;
        img {
            width: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 800px) {
    .top {
        flex-direction: column;
        img {
            width: 250px;
            height: 250px;
        }
        h2 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        p {
            font-size: 18px;
            line-height: 40px;
        }
        .txt {
            padding: 0;
            width: 100%;
        }
    }
    .bottom {
        display: flex;
        flex-direction: column;
    }
    .journey-text {
        padding: 0;
    }
    .journey-img {
        margin: 20px 0;
    }
    .bottom {
        padding-top: 10px !important;
    }
    .about-me {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .top {
        img {
            width: 200px;
            height: 200px;
        }
        h2 {
            font-size: 20px;
            margin: 10px 0;
        }
        p {
            font-size: 12px;
            line-height: 20px;
        }
    }
}