<mat-card class="introduce">
    <mat-card class="left-part">
        <p data-aos="fade-right" data-aos-duration="900">Hi,<br>I'm <span>Masihullah</span> Massudi<br>Front End Develop<span class="e-color">e</span>r</p>
        <mat-card class="btn-container">
            <a data-aos="fade-right" data-aos-duration="900" href="#form-container"><button mat-stroked-button>Contact me</button></a>
        </mat-card>
    </mat-card>
    <mat-card class="img">
        <img data-aos="fade-left" data-aos-duration="900" src="assets/img/masih.JPG" alt="">
    </mat-card>
</mat-card>

<mat-card class="arrow">
    <a href="#my-skills"><img src="assets/img/arrow.ico" alt=""></a>
</mat-card>

<app-skills id="my-skills"></app-skills>
<app-my-work></app-my-work>
<app-about-me></app-about-me>

<app-contact id="form-container"></app-contact>